@{
    Layout = "_Layout";
}
@section Stylesheets {
    @await RenderSectionAsync("Stylesheets", required: false)
}
@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

<div class="flexLayoutContainer">
    <div class="leftLayoutContainer">
        @RenderBody()
    </div>
    <div class="sidebarLayout">
        <div class="sidebar">
            <div class="sidebarItem"><a asp-page="/Category" asp-route-category="gaming">Gaming</a></div>
            <div class="sidebarItem"><a asp-page="/Category" asp-route-category="sports">Sports</a></div>
            <div class="sidebarItem"><a asp-page="/Category" asp-route-category="politics">Politics</a></div>
            <div class="sidebarItem"><a asp-page="/Category" asp-route-category="news">News</a></div>
        </div>
    </div>
</div>