@page
@model IndexModel
@{
    Layout = "_TwoColumn";
    ViewData["Title"] = "Blogger";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="contentContainer">Post Here</div>
