@page
@model IndexModel
@{
    Layout = "_TwoColumn";
    ViewData["Title"] = "Blogger";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="contentContainer">
   @foreach(var article in Model.Articles) {
       <div class="article">
        <p>@article.Author</p>
        <p>@article.Category</p>
        <p>@article.Title</p>
        <p>@article.Text</p>
       </div>
   }
</div>
